#name,
#email,
#number {
  height: 33px;
  width: 98%;
}

#dropdown,
#dropdown2 {
  height: 38px;
  width: 98%;
}
#dropdown2 {
  margin-bottom: 1.5rem;
}
#survey-form {
  height: auto;
  width: 650px;
}
textarea {
  width: 98%;
  min-height: 7rem;
  margin-bottom: 2rem;
}
.flex {
  display: flex;
  margin-bottom: 1rem;
}
form {
  padding: 2.5rem;
}
#survey-form {
  width: 42%;
  background-color: rgb(0, 0, 0);
  margin-right: auto;
  margin-left: auto;
  font-size: 20px;
  font-family: georgia;
  color: rgb(39, 219, 48);
}
#title,
#description {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 250%;
}

input[type="submit"] {
  display: block;
  width: 98%;

  height: 2em;
  font-size: 1.1rem;
  background-color: #15d20e;
  border-color: white;
  min-width: 300px;
}
body {
  background-image: url(resources/images/background.jpg);
}
